!!!

%html
  %head
    %title= "Beatr #{(" - #{@beat_name}" if @beat_name)}"
    = include_gon
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/railscasts.min.css'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js'

    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags

  %body
    .box
      .background-box
        %h1.logo= link_to 'Beatr', root_path

        = yield

        %footer
          .made-by
            made with
            %span.tiny-heart= image_tag '8-bit-heart.png', id: 'tiny-heart', size: '20x20'
            by #{link_to 'Crevalle Technologies', 'http://crevalle.io', target: '_blank'} and #{link_to 'Steve Ellis', 'https://github.com/se3000', target: '_blank'}

  = render partial: 'shared/analytics'

